{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{base_service}' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages() }}

    <div class="content-sm">

        <h1>{{ flash_values.module_name_sc ~ '_add_form'|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('{prefix}.add') }}" method="post" novalidate>

{attributes}
            {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('{prefix}s.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'add_{base_service}'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}