{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form_multiple.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{base_service}' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages(report) }}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_add_multiple_form'|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('apc-{prefix}s.add') }}" method="post" novalidate>

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>

{title_attribute}
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    {% for i in 0..19 %}
                        {% set {prefix} = {prefix}s[i] %}
                        <tr>

{attributes}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('apc-{prefix}s.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'add_multiple_{base_service}'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}