{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{base_service}' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_show_all_list'|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>

{title_attribute}
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for {prefix} in {prefix}s %}
                    <tr>
                        <td class="text-left">{{ loop.index }}</td>

{attributes}
                        <td class="text-center"><a  class="td-link" href="{{ url_for('apc-{prefix}.show-one-by-id', {'id': {prefix}.id}) }}">{{ 'details'|trans }}</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ url_for('apc-{prefix}.edit', {'id': {prefix}.id}) }}">{{ 'update'|trans }}</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ url_for('apc-{prefix}.remove', {'id': {prefix}.id}) }}">{{ 'remove'|trans }}</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="list-buttons text-right">
            <a class="btn btn-primary" href="{{ url_for('apc-{prefix}.add') }}" role="button">{{ 'add_{base_service}'|trans }}</a>
        </div>

    </div>

{% endblock %}