{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{base_service}' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_show_one_by_id_list'|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>

{title_attribute}
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="text-left">{{ 1 }}</td>

{attributes}
                </tr>
                </tbody>
            </table>
        </div>

        <div class="list-buttons text-right">
            <a class="btn btn-secondary" href="{{ url_for('apc-{prefix}s.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('apc-{prefix}.edit', {'id': {prefix}.id}) }}" role="button">{{ 'Update'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('apc-{prefix}.remove', {'id': {prefix}.id}) }}" role="button">{{ 'Remove'|trans }}</a>
        </div>

    </div>

{% endblock %}
